/* src/index.css */

/* 1. Definição das variáveis de cor (tema escuro) */
:root {
  --cor-fundo: #1a1a1a;
  --cor-fundo-card: #242424;
  --cor-borda: #444;
  --cor-primaria: #646cff;
  --cor-texto: rgba(255, 255, 255, 0.87);
  --cor-texto-fraco: #888;
  --cor-menu-overlay: #2d2a32; /* <-- ADICIONE ESTA LINHA */
}

/* 2. Reset básico e definição da fonte */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--cor-texto);
  background-color: var(--cor-fundo);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
